 .user-form{
     padding-top: 100px;
 }
 form{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} 
input{
    padding: 12px;
    margin: 10px 0;
    width: 50%;
}
label{
    display: flex;
    width: 50%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
button{
    width: 25%;
    height: 10%;
    border-radius: 10%;
    background-color: navy;
    margin-top: 20px;
    color: white;
}
.users{
    padding: 50px;
    border: 1px solid black;
    width: 300px;
}